# App
PORT=3000
API_KEY=super_secret_api_key 
#it looks cute

# MySQL (used by both Node app and docker-compose)
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=test
MYSQL_USER=std
MYSQL_PASSWORD=std

# Node connection (host = localhost when running node on host, = mysql if Node runs in compose)
DB_HOST=localhost
DB_PORT=3306
DB_USER=std
DB_PASSWORD=std
DB_NAME=test

# phpMyAdmin
PMA_PORT=8080
