# App
PORT=3000
API_KEY=super_secret_api_key 
#it looks cute

# MySQL (used by both Node app and docker-compose)
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=test
MYSQL_USER=std
MYSQL_PASSWORD=std

# Node connection (host = localhost when running node on host, = mysql if Node runs in compose)
DB_HOST=localhost
DB_PORT=3307
DB_USER=std
DB_PASSWORD=std
DB_NAME=test

# phpMyAdmin
PMA_PORT=8080

# Session zımbırtısı
SESSION_SECRET= 67dc6d1b0e514c53de960434023a4ec6268c97a1cb12b486a10d1a7f1feab3574d5f45082f8328f14d3a83a17c5c338c
#longass gizli string node -e "console.log(require('crypto').randomBytes(48).toString('hex'))" komutu ile oluşturdum çokgizli
